/* Contenedor del tablero ETAPA SET */
.set_div_board {
  width: 72vmin;                /* 90% del menor entre ancho/alto del viewport */
  aspect-ratio: 1 / 1;          /* Cuadrado perfecto */
  box-sizing: border-box;

  justify-self: center;
}
/* Grid del tablero */
#game_own_board,
#game_rival_board,
#set_own_board {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
  box-sizing: border-box;
  background: rgb(91, 91, 249);
}
/* Contenedor del tablero ETAPA SET */

/*Contenedor para renderizar tableros en la paritda*/

.battleship_game{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;

}


/* Celdas */
.set_own_board_cell {
  border: 1px solid #aaa;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
}

/*Celdas con barcos*/
.boat_cell {
  background: rgb(162, 235, 162);
}

