.set_board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap:10px;
}

.set_board_code {
  align-self: flex-start;
}

.set_board_code > p {
  display: inline;
}


.set_board_set {
  display: grid;
  grid-template-columns: 1fr 5fr;

}

.set_board_ready {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set_board_ready > button{
    border-radius: 10px;
    width: 160px;
    height: 45px;
    background: rgb(143, 231, 143);
}


